In [1]:
import pandas as pd
import csv
with open("NEW.csv","w")as file:
    print(file)

<_io.TextIOWrapper name='NEW.csv' mode='w' encoding='cp1252'>

In [2]:
header_list = ['IDNumber','FullName','Gender','Nationality','Location','MaritalStatus','PhoneNumber','eMail','Salary']

with open("NEW.csv","w")as file:
    file_write = csv.DictWriter(file,delimiter = ',', fieldnames = header_list)
    file_write.writeheader()

fileContent = pd.read_csv("NEW.csv")
fileContent

Empty DataFrame
Columns: [IDNumber, FullName, Gender, Nationality, Location, MaritalStatus, PhoneNumber, eMail, Salary]
Index: []

In [3]:
def view_employee():
    df = pd.read_csv("NEW.csv")
    print(df)

In [4]:
import pandas as pd
def filtering_employee():
    column_name = input("Enter name to be filtered: ")
    value = input("Enter the value of column: ")
    df = pd.read_csv("NEW.csv")
    df.columns = [column.replace(" ","_")for column in df.columns]
    df.query(f"{column_name} == '{value}'",inplace = True)
    print(df)

In [5]:
def deleting():
    column_name = input("Enter name to be deleted: ")
    df = pd.read_csv("NEW.csv")
    df = df[df['FullName']!=column_name]
    df.to_csv('NEW.csv',index= False)
    print("Delete successfully")

In [6]:
def add_employee():
    print("--ADDING EMPLOYEE--")
    
    IDNumber = input("Enter ID number: ")
    FullName = input ("Enter fullname: ")
    Gender = input("Enter gender M/F: ")
    Nationality = input("Enter country of origin: ")
    Location = input("Enter place of residence: ")
    MaritalStatus = input("Enter marital status,either married/single: ")
    PhoneNumber =input("Enter phone number: ")
    eMail = input("Enter email address: ")
    Salary =input("Enter salary")
    data={
        'IDNumber':IDNumber,
        'FullName':FullName,
        'Gender':Gender,
        'Nationality':Nationality,
        'Location':Location,
        'MaritalStatus':MaritalStatus,
        'PhoneNumber':PhoneNumber,
        'EMail':eMail,
        'Salary':Salary,
        }
    with open("NEW.csv","a")as file:
        file_write = csv.DictWriter(file,delimiter = ',', fieldnames = data)
        if file.tell() > 0:
            
            file_write.writerow(data)
fileContent = pd.read_csv("NEW.csv")
display(fileContent)

Empty DataFrame
Columns: [IDNumber, FullName, Gender, Nationality, Location, MaritalStatus, PhoneNumber, eMail, Salary]
Index: []

In [ ]:
def menu():
    while True:
        print("--MENU OPTIONS--")
        print("1:Add  Employee")
        print("2:View Employee")
        print("3:Filtering")
        print("4:Deleting")
        print(f"Press 0 to Exit program")

        choice = int(input("Enter your choice: "))
        if choice == 1:
            add_employee()
        elif choice == 2:
            view_employee()
        elif choice == 3:
            filtering_employee()
        elif choice == 4:
            deleting()
        elif choice == 0:
            choice_input = input("Do you want to exit the program ,YES/NO: ")
            if choice_input == "YES":
                print("Program Exited")
            else:
                break
        else:
            print("invalid input")
menu()

--MENU OPTIONS--
1:Add  Employee
2:View Employee
3:Filtering
4:Deleting
Press 0 to Exit program

Enter your choice:  1
Enter ID number:  15HQHABO
Enter fullname:  Abel Marek
Enter gender M/F:  M
Enter country of origin:  Malawi
Enter place of residence:  Lumbadzi
Enter marital status,either married/single:  Single
Enter phone number:  +265887132125
Enter email address:  marekabel717@gmail.com
Enter salary 10K

--MENU OPTIONS--
1:Add  Employee
2:View Employee
3:Filtering
4:Deleting
Press 0 to Exit program

Enter your choice:  1
Enter ID number:  44BGHAGO
Enter fullname:  Martha Marek
Enter gender M/F:  F
Enter country of origin:  Malawi
Enter place of residence:  Lumbadz
Enter marital status,either married/single:  Married
Enter phone number:  +2659900575745
Enter email address:  malita17@gmail.com
Enter salary 15K

--MENU OPTIONS--
1:Add  Employee
2:View Employee
3:Filtering
4:Deleting
Press 0 to Exit program

Enter your choice:  1
Enter ID number:  09VAR90X
Enter fullname:  Mark Cizo
Enter gender M/F:  M
Enter country of origin:  Zambia
Enter place of residence:  Lusaka
Enter marital status,either married/single:  Single
Enter phone number:  07888976453
Enter email address:  markcizo@gmail.com
Enter salary 4.5K

--MENU OPTIONS--
1:Add  Employee
2:View Employee
3:Filtering
4:Deleting
Press 0 to Exit program

Enter your choice:  3
Enter name to be filtered:  FullName
Enter the value of column:  Mark Cizo

   IDNumber   FullName Gender Nationality Location MaritalStatus  PhoneNumber  \
2  09VAR90X  Mark Cizo      M      Zambia   Lusaka        Single   7888976453

                eMail Salary
2  markcizo@gmail.com   4.5K
--MENU OPTIONS--
1:Add  Employee
2:View Employee
3:Filtering
4:Deleting
Press 0 to Exit program

Enter your choice:  2

   IDNumber      FullName Gender Nationality  Location MaritalStatus  \
0  15HQHABO    Abel Marek      M      Malawi  Lumbadzi        Single
1  44BGHAGO  Martha Marek      F      Malawi   Lumbadz       Married
2  09VAR90X     Mark Cizo      M      Zambia    Lusaka        Single

     PhoneNumber                   eMail Salary
0   265887132125  marekabel717@gmail.com    10K
1  2659900575745      malita17@gmail.com    15K
2     7888976453      markcizo@gmail.com   4.5K
--MENU OPTIONS--
1:Add  Employee
2:View Employee
3:Filtering
4:Deleting
Press 0 to Exit program

Enter your choice:  4
Enter name to be deleted:  Mark Cizo

Delete successfully
--MENU OPTIONS--
1:Add  Employee
2:View Employee
3:Filtering
4:Deleting
Press 0 to Exit program

Enter your choice:  2

   IDNumber      FullName Gender Nationality  Location MaritalStatus  \
0  15HQHABO    Abel Marek      M      Malawi  Lumbadzi        Single
1  44BGHAGO  Martha Marek      F      Malawi   Lumbadz       Married

     PhoneNumber                   eMail Salary
0   265887132125  marekabel717@gmail.com    10K
1  2659900575745      malita17@gmail.com    15K
--MENU OPTIONS--
1:Add  Employee
2:View Employee
3:Filtering
4:Deleting
Press 0 to Exit program

In [ ]:
def add_ID_number():
    Num = input("Enter ID number: ")
    contents["ID_number"] = add

In [ ]:
def add_email():
    email = input("Enter your email address: ")
    contents["email"] = add

In [ ]:
def add_salary():
    salary = input("Enter your salary: ")

In [ ]:
#import pandas as pd
#def filtering_employee():
    #column_name = input("Enter name to be filtered: ")
    #value = input("Enter the value of column: ")
    #df = pd.read_csv("NEW.csv")
    #filter = data[data['column_name'] == "value"]