In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame()

In [3]:
list = {
    "Name":["Fudze","Kelz","Offset","Asante","Zai","Huncho","Flora","Grace","Jones","Mada","Mike","Ben","Jupa","Ob","Marek"],
    "Gender":["Male","Male","Male","Male","Male","Male","Female","Female","Male","Female","Male","Male","Male","Male","Male"],
    "Nationality":["Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi","Malawi"],
    "Age":[16,14,21,20,12,33,21,22,17,19,27,23,18,18,21],
    "Location":["Mzimza","BT","BT","LB","Area 25A","LB","Mtendere","Mayard","Kasungu","Roberts","Area 51","Nsanje","Nyamithuthu","LCC","Dzaleka"],
    "Status":["Single","Single","Single","Single","Single","Single","Married","Single","Married","Married","Single","Single","Single","Single","Single"],
    "Qualification":["MSCE Certificate","MSCE Certificate","MSCE Certificate","MSCE Certificate","MSCE Certificate","MSCE Certificate","MSCE Certificate","Bachelor's Degree","Diploma in Science","MSCE Certificate","MSCE Certificate","Degree in Teaching","MSCE Certificate","MSCE Certificate","Diploma in Science"],
}

In [4]:
df = pd.DataFrame(list)
print(df)

      Name  Gender Nationality  Age     Location   Status       Qualification
0    Fudze    Male      Malawi   16       Mzimza   Single    MSCE Certificate
1     Kelz    Male      Malawi   14           BT   Single    MSCE Certificate
2   Offset    Male      Malawi   21           BT   Single    MSCE Certificate
3   Asante    Male      Malawi   20           LB   Single    MSCE Certificate
4      Zai    Male      Malawi   12     Area 25A   Single    MSCE Certificate
5   Huncho    Male      Malawi   33           LB   Single    MSCE Certificate
6    Flora  Female      Malawi   21     Mtendere  Married    MSCE Certificate
7    Grace  Female      Malawi   22       Mayard   Single   Bachelor's Degree
8    Jones    Male      Malawi   17      Kasungu  Married  Diploma in Science
9     Mada  Female      Malawi   19      Roberts  Married    MSCE Certificate
10    Mike    Male      Malawi   27      Area 51   Single    MSCE Certificate
11     Ben    Male      Malawi   23       Nsanje   Single  Degree in Teaching
12    Jupa    Male      Malawi   18  Nyamithuthu   Single    MSCE Certificate
13      Ob    Male      Malawi   18          LCC   Single    MSCE Certificate
14   Marek    Male      Malawi   21      Dzaleka   Single  Diploma in Science

In [10]:
import pandas as pd
df = pd.read_csv("survey_results.csv")
df

,qid,qname,question,force_resp,type,selector
0,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
1,QID127,Age,What is your age?*,True,MC,SAVR
2,QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
3,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
4,QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR
...,...,...,...,...,...,...
82,QID337,JobSatPoints_7,"Learning and using new technology, including p...",NaN,MC,MAVR
83,QID337,JobSatPoints_8,"Designing and building environments, databases...",NaN,MC,MAVR
84,QID337,JobSatPoints_9,"Being a power user of a tool, developer langua...",NaN,MC,MAVR
85,QID337,JobSatPoints_10,Working with new and/or top-quality hardware,NaN,MC,MAVR
86,QID337,JobSatPoints_11,A well-staffed/sourced internal network that m...,NaN,MC,MAVR

In [17]:
var1 = df.iloc[6]
print(var1)

qid                                                       QID25
qname                                                   EdLevel
question      Which of the following best describes the high...
force_resp                                                 True
type                                                         MC
selector                                                   SAVR
Name: 6, dtype: object

In [16]:
var2 = df.iloc[7]
print(var2)

qid                                                     QID276
qname                                                LearnCode
question      How do you learn to code? Select all that apply.
force_resp                                               False
type                                                        MC
selector                                                  MAVR
Name: 7, dtype: object

In [15]:
var3 = df.iloc[15]
print(var3)

qid                                                      QID279
qname                                                BuyNewTool
question      When buying a new tool or software, how do you...
force_resp                                                False
type                                                         MC
selector                                                   MAVR
Name: 15, dtype: object

In [14]:
var4 = df.iloc[60]
print(var4)

qid                                                  QID326
qname                                              Industry
question      What industry is the company you work for in?
force_resp                                            False
type                                                     MC
selector                                               SAVR
Name: 60, dtype: object

In [9]:
#Another way of reading a csv file
with open("survey_results.csv","r")as file:
    res = pd.DataFrame(file)
    print(res)

                                                    0
0       qid,qname,question,force_resp,type,selector\n
1   QID2,MainBranch,"Which of the following option...
2        QID127,Age,What is your age?*,TRUE,MC,SAVR\n
3   QID296,Employment,Which of the following best ...
4   QID308,RemoteWork,Which best describes your cu...
..                                                ...
83  QID337,JobSatPoints_7,"Learning and using new ...
84  QID337,JobSatPoints_8,"Designing and building ...
85  QID337,JobSatPoints_9,"Being a power user of a...
86  QID337,JobSatPoints_10,Working with new and/or...
87  QID337,JobSatPoints_11,A well-staffed/sourced ...

[88 rows x 1 columns]